<article class="article">
      <div class="content-center">
      <p><%= t('imprint.paragraphs.p1').html_safe %></p>
      <p><%= t('imprint.paragraphs.p2').html_safe %></p>
      <p><%= t('imprint.paragraphs.p3').html_safe %></p>      
      </div>
    </article>
    <!-- /article -->