::selection {
  background-color: var(--galactic);
  color: var(--lighthouse);
}

::-moz-selection  {
  background-color: var(--galactic);
  color: var(--lighthouse);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 2 1 auto;
}