.banner {
	align-items: center;
	background-color: var(--pelorus);
	color: white;
	display: flex;
	font-size: 1.6rem;
	gap: .8rem;
	justify-content: center;
	padding: 1.2rem;
	width: 100%;
	transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);

	.banner-text {
		font-weight: 500;
	}

	.icon {
		font-size: 2rem;
	}

	&:hover {
		gap: 1.2rem;

		.banner-text {
			text-decoration: underline;
		}
	}
}

@media only screen and (max-width: 600px) {
  .banner {
		padding: .8rem;
	}
}