.detail {
  @extend .page-margin;

  .content-center {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    padding: calc(16.2rem + 3.2rem) 0 3.2rem;
  }

  .col {
    display: flex;
    flex-direction: column;
    flex: 2 1 50%;
    gap: 1.2rem;
  }
}

@media only screen and (max-width: 900px) {
  .detail {
    .content-center {
      flex-wrap: wrap;
      padding: calc(11.2rem + 2.4rem) 0 2.4rem;
    }

    .col {
      flex: 2 1 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .detail {
    .content-center {
      gap: .8rem;
      padding: calc(10.1rem + 1.6rem) 0 1.6rem;
    }
  }
}