.navbar {
  background: var(--spanish-violet);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
  z-index: var(--layer-navbar);
  @include transition;

  &.can-animate {
    transition: transform 0.3s ease, visibility 0s 0.3s linear;
  }

  &.is-fixed {
    position: fixed;
    transform: translate3d(0, -100%, 0);
  }

  &.scroll-up {
    transform: translate3d(0, 0, 0);
  }

  .content-center {
    align-items: center;
    display: flex;
    gap: .8rem;
    height: var(--navbar-height);
    @extend .page-margin;
  }

  .brand {
    flex: 2 1 20%;
  }

  .language-selector {
    display: flex;
    flex: 2 1 20%;
    justify-content: flex-end;
  }
}

.button-menu {
  display: none;
}

@media only screen and (max-width: 900px) {
  .navbar {
    .content-center {
      height: var(--navbar-height-sm);
    }

    .nav-main {
      display: none;
    }

    .button-menu {
      display: inline-flex;
    }
  }
}