<footer class="site-footer">
<div class="content-center">
  <ul class="social-links">
    <li><a href="https://www.facebook.com/chplusplus" class="facebook"><i class="icon ph ph-facebook-logo"><span class="sr-only">Facebook</span></i></a></li>
    <li><a href="https://www.linkedin.com/company/chplusplus/" class="linkedin"><i class="icon ph ph-linkedin-logo"><span class="sr-only">LinkedIn</span></i></a></li>
    <li><a href="https://mastodon.social/@chplusplus@techhub.social"><img src="<%=asset_url('mastodon-logo.svg')%>" alt="Mastodon"></a></li>
    <li><a href="https://twitter.com/chplusplus" class="twitter"><i class="icon ph ph-twitter-logo"><span class="sr-only">Twitter</span></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCslsQ44lO2voIQCwl-ysFCA" class="youtube"><i class="icon ph ph-youtube-logo"><span class="sr-only">YouTube</span></i></a></li>
  </ul>

  <ul class="legal">
    <li>&copy; 2023 CH++</li>
    <li><%= link_to t("navigation.imprint"), imprint_path %></li>
    <li><%= link_to t("navigation.privacy"), privacy_path %></li>
  </ul>
</div>
</footer>
<!-- /site-footer -->
